@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #616161 !important;
}

.back {
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 30px;
    margin-top: 20px;
}

.back p {
    margin-bottom: 0%;
}

.back a {
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 30px;
    margin-top: 20px;
    color: white;
}

.title {
    width: 12%;
    position: absolute;
    top: 80%;
    transform: translateY(45%);
    left: 45%;
    font-family: "Unbounded", sans-serif;
    color: black;
}

.login {
width: 400px;
    background: #000000;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    }

.controls {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
}

.register-btn {
    width: 100%;
    background: #4B4B4B;
    border: none;
    padding: 12px;
    color: rgb(255, 255, 255);
    margin: 16px 0;
    font-size: 16px;
    display: block;
    text-align: center;
    }